@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

$colorFondo: rgb(245, 238, 238);
$colorParrafos: rgb(17, 17, 17);
$colorPredeterminado: #5271ff;
$tipografia: 'Roboto', sans-serif;